/*Right column selectors ONLY*/
.right-column {
  width: 80%;
  height: 1100px;
  position: relative;
  overflow-x: hidden;
  top: 0;
  right: 0;
  left: 400px;
  background-color: #fafbfc !important;
}

#full-education, #full-skills, #full-projects {
  min-width: 900px;
  margin-left: 1em;
}

#text {
  margin-left: 0;
}

#education-container {
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}


#pictures {
  height: 110px;
  width: 200px;
}


#education-container-one h1, #education-container-one p {
  font-size: 1em;
  margin-bottom: 10px;
}

#skills-container {
  display: flex;
  flex-direction: row;
}

#project-container {
  display: flex;
  flex-direction: row;
}

#project-container p {
  width: 500px;
  position: relative;
  left: 10px;
  top: -20px;
  z-index:1;
}

#project-picture {
  margin: 0 0.70em 0 0;
  height: 110px;
  width: 200px;
}

#project-header {
  font-size: 1em;
}

#button {
  height: 110px;
  width: 200px;
}

#button:hover {
  height: 120px;
  width: 210px;
  margin: -5px 0 0 -5px;
}

.dimmer {
  display: none;
  background: #000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.dim {
  display: block;
  z-index: 200;
}

.exit {
  font-size: 100px;
  color: red;
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 1;
  cursor: pointer;
}


/*Meter selectors for designing a meter bar for the skills-experience section*/
meter {
  width: 250px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 13px;
}

meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}


meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(
    90deg,
    #8bcf69 100%,
    #8bcf69 100%
  );
  background-size: 100% 100%;
}

#skills-right meter {
  margin-bottom: 16.5px;
}

#skills-right {
  display: flex;
  flex-direction: column;
}

#skills-right img {
  width: 39px;
  height: 39px;
}
